{% extends 'index.html' %}
{% block content %}

<br>
<table style="width: 100%">
    {% for one_new in news %}
        {% if forloop.counter|divisibleby:2 %}
            <tr class="mylist">
                <td style="width:10%; text-align: center">
                    {{forloop.counter}}
                </td>
                <td>
                    <a href="/myapp/id/{{one_new.id}}">{{ one_new.title }}</a>
                </td>
                <td style="width:10%;">
                    {{one_new.web}}
                </td>
                <td style="width:10%;">
                    {{one_new.new_type}}
                </td>
                <td style="width:20%;">
                    {{one_new.time}}
                </td>
            </tr>
        {% else %}
            <tr class="mylist2">
                <div>
                    <td style="width:10%; text-align: center">
                        {{forloop.counter}}
                    </td>
                    <td>
                        <a href="/myapp/id/{{one_new.id}}">{{ one_new.title }}</a>
                    </td>
                    <td style="width:10%;">
                        {{one_new.web}}
                    </td>
                    <td style="width:10%;">
                        {{one_new.new_type}}
                    </td>
                    <td style="width:20%;">
                        {{one_new.time}}
                    </td>
                </div>
            </tr>
        {% endif %}
    {% endfor %}
</table>

{% endblock %}